@import "./base.css";

::selection {
  color: #fff;
  background: #3b25eb;
}
.ant-btn-primary {
  border-color: #331edb;
  background: #331edb;
}
.ant-layout-sider {
  background: #3b4b65;
}
.ant-menu.ant-menu-dark, 
.ant-menu-dark .ant-menu-sub, 
.ant-menu.ant-menu-dark .ant-menu-sub {
  background: #3b4b65;
}
.ant-menu-dark .ant-menu-item, 
.ant-menu-dark .ant-menu-item-group-title, 
.ant-menu-dark .ant-menu-item > a, 
.ant-menu-dark .ant-menu-item > span > a {
  color: #ffffff;
}
.ant-menu.ant-menu-dark, 
.ant-menu-dark .ant-menu-sub, 
.ant-menu.ant-menu-dark .ant-menu-sub {
  color: #ffffff;
}
.ant-modal-close {
  color: #ffffff;
}
.ant-modal-header {
  background: #331edb;
}
.ant-modal-title {
  color: #fff;
}
.ant-btn-primary:hover, .ant-btn-primary:focus {
  border-color: #4633e6;
  background: #4633e6;
}
.ant-card-head {
  background: #331edb;
  color: #ffffff;
}
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background-color: #46556c;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background-color: #46556c;
}
.ant-table-column-title {
  font-weight: 500;
}
.ant-table-column-sorters {
  cursor: pointer;
}
.ant-table-column-sorter {
  z-index: 300;
}
.ant-table-cell-fix-sticky {
  z-index: 305;
}

/* Start of margins */
.mt-1 {
  margin-top: 0.25rem!important;
}
.mt-2 {
  margin-top: 0.5rem!important;
}
.mt-3 {
  margin-top: 1rem!important;
}
.mt-4 {
  margin-top: 1.5rem!important;
}
.mt-5 {
  margin-top: 1.5rem!important;
}

.mb-1 {
  margin-bottom: 0.25rem!important;
}
.mb-2 {
  margin-bottom: 0.5rem!important;
}
.mb-3 {
  margin-bottom: 1rem!important;
}
.mb-4 {
  margin-bottom: 1.5rem!important;
}
.mb-5 {
  margin-bottom: 1.5rem!important;
}

.mr-1 {
  margin-right: 0.25rem!important;
}
.mr-2 {
  margin-right: 0.5rem!important;
}
/* End of margins */

/* Start of paddings */
.p-0 {
  padding: 0px;
}
/* End of paddings */

/* Start of widths */
.w-25 {
  width: 25%;
}
.w-50 {
  width: 50%;
}
.w-75 {
  width: 75%;
}
.w-100 {
  width: 100%;
}
/* End of widths */

/* Start of lists */
.lst-none {
  list-style-type: none;
}
/* End of lists */

/* Start of displays */
.d-inline-block {
  display: inline-block;
}
.d-inline-flex {
  display: inline-flex;
}
.d-flex {
  display: flex;
}
/* End of displays */

/* Start of texts */
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}

.text-center .ant-input-number-input {
  text-align: center!important;
}

.text-uppercase {
  text-transform: uppercase;
}
/* End of texts */

/* Start of floats */
.float-left {
  float: left;
}
.float-right {
  float: right;
}
/* End of floats */

/* Start of font weights */
.fw-bold {
  font-weight: bold;
}
/* End of font weights */

/* Start of icons */
.icon-edit {
  font-size: large;
  color: #1890ff;
  padding-right: 10px
}
/* End of icons */

/* Start of pointers */
.clickable {
  cursor: pointer;
}
/* End of pointers */